h1{
  text-align: center;
}
.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  width: 300px;
  display: inline-block;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  width: 300px;
  display: inline-block;
}

ul{
  list-style: none;
  text-align: center;
}
.premiacao ul li{
  display: inline;
}
.premiacao{
  text-align: center;
}